body {
    background-color: aqua;
}

h1, h2, p {
    text-align: center;
    transition: color 0.5s ease, transform 0.5s ease, text-shadow 0.5s ease;
    filter: blur(5px);
    padding: 30px;
}

h1 {
    font-size: 50px;
}

h1:hover, h2:hover, p:hover {
    filter: blur(0);
    color: gold;
    transform: scale(1.1) rotate(3deg);
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
}

h2 {
    text-align: right;
}

.rrf {
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 20px; 
}

.text-container {
    display: flex; 
    flex-direction: column; 
}

p {
    text-align: right;
}